---
import Layout from '../layouts/Riyoukiyaku.astro';
---

<Layout
    title="プライバシーポリシー"
    description="当サイトのプライバシーポリシーについて"
    pubDate={new Date('May 01 2025')}
>
<p>
<strong>基本方針</strong><br />
1. 当サイトは個人情報の重要性を認識し、個人情報を適切に取り扱い、またそれらを保護するために必要な措置を講じます。個人情報に関する法令などを遵守し、当サイトで取り扱う個人情報の取得、利用、管理を適切に行い、個人の権利・利益を不当に侵害することのないよう努めます。<br />
</p>

<p>
<strong>個人情報の取り扱いについて</strong><br />

 &nbsp; 当サイトは個人情報の取り扱いについて、以下の事項を遵守し、不測の事態を防止するために必要な措置を講じます。<br />
<br />
1. 個人情報の利用目的を明確にし、適切な範囲内で利用します。<br />
<br />
2. 個人情報の第三者提供について、以下の条件を満たす場合に限り行います。<br />
   - ユーザーの同意がある場合<br />
   - 法令に基づく場合<br />
   - 人の生命、身体、財産などの保護のために必要な場合<br />
</p>

<p>
<strong>適性な取得</strong><br />
1. 個人情報の取得は、適法かつ公正な手段によって行います。<br />
<br />
2. 不正な手段による個人情報の取得を行いません。<br />
<br />
3. 個人情報の取得に際しては、利用目的を明示し、必要な範囲内で取得します。<br />
</p>

<strong>正確性の確保</strong><br />
1. 当サイトは、個人情報の正確性を保つために、適切な措置を講じます。<br />
<br />
2. ユーザーは、自己の個人情報が正確かつ最新であることを保証するものとします。<br />
<br />
3. 当サイトは、ユーザーから提供された個人情報が不正確であることが判明した場合、速やかに訂正または削除を行います。<br />

<br />
<strong>安全の保護</strong><br />
1. 当サイトは、個人情報の漏洩、滅失、毀損などを防止するために、適切な安全管理措置を講じます。<br />
<br />
2. ユーザーは、自己の個人情報が不正にアクセスされないよう、適切な管理を行うものとします。<br />
<br />

<strong>個人情報の開示、訂正、利用停止等</strong><br />
1. ユーザーは、自己の個人情報について、開示、訂正、利用停止等を求めることができます。<br />
<br />
2. 当サイトは、ユーザーからの請求に対して、適切な手続きを経て対応します。<br />
<br />
3. ユーザーは、自己の個人情報が不正に取り扱われていると判断した場合、当サイトに対して苦情を申し立てることができます。<br />
<br />
<strong>プライバシーポリシーの変更</strong><br />
1. 当サイトは、個人情報の取り扱いに関するプライバシーポリシーを変更することがあります。<br />
<br />
2. プライバシーポリシーの変更は、当サイトに掲載することにより通知します。<br />
<br />
3. ユーザーは、プライバシーポリシーの変更後も当サイトを利用することで、変更内容に同意したものとみなされます。<br />
</p>


<p>
制定日：2025年7月1日<br />
最終更新日：2025年7月1日
</p>
</Layout>